.destination
{
    margin: 4rem 6rem;
}

.destination h1{
    font-size: 3rem;
    text-align: center;
}

.destination p{
    text-align: center;
    margin-bottom: 2.5rem;
}
.first-dest{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.first-dest-reverse{
    margin-top: 5rem;
    gap: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.dest-text{
    text-align: start;
    text-justify: auto;
    width: 45%;
    font-size: 1.1rem;
    margin-right: 0.8rem;

}

.dest-text h2{
    padding-bottom: 1.2rem;
    text-align: center;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1 1 62 -18 rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;

}

@media screen and (max-width:850px){
.destination
{
    margin: 4rem 2rem;
}
.first-dest,.first-dest-reverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

 
}

